fastapi
uvicorn
ldap3
qrcode
python-multipart
mysql-connector-python
pymysql
python-dotenv
python-jose[cryptography]
PyJWT
fastapi-limiter
redis

# Testing dependencies
pytest
pytest-asyncio
pytest-cov
httpx
faker